{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Triodos XS2A BG service",
    "description" : "Triodos XS2A BG service",
    "termsOfService" : "https://www.triodos.com",
    "contact" : {
      "name" : "Triodos Support",
      "url" : "https://www.triodos.com",
      "email" : "info@triodos.com"
    },
    "license" : {
      "name" : "Creative Commons Attribution 4.0 International Public License",
      "url" : "https://creativecommons.org/licenses/by/4.0/"
    },
    "version" : "1.1"
  },
  "externalDocs" : {
    "description" : "Berlin Group XS2A Implementation Version 1.3",
    "url" : "https://docs.wixstatic.com/ugd/c2914b_bec5f9d0d3c94cfca2ad1b9da36dc752.pdf"
  },
  "servers" : [ {
    "url" : "https://xs2a-sandbox.triodos.com/xs2a-bg",
    "description" : "Triodos XS2A Sandbox"
  } ],
  "tags" : [ {
    "name" : "Payment Initiation Service",
    "description" : "This service may be used by a PISP to initiate a single payment on behalf of a PSU using a given account of that PSU. The account is managed by the ASPSP providing the XS2A Interface. Functionality and restrictions of this service comply with the requirements defined by article 66 of PSD2.",
    "externalDocs" : {
      "description" : "Berlin Group XS2A Implementation Version 1.3 - Chapter 5: Payment Initiation Service",
      "url" : "https://docs.wixstatic.com/ugd/c2914b_bec5f9d0d3c94cfca2ad1b9da36dc752.pdf"
    }
  }, {
    "name" : "Account Information Service",
    "description" : "This service may be used by an AISP to request information about the account of a PSU. The account is managed by the ASPSP providing the XS2A Interface. Functionality and restrictions of this service comply with the requirements defined by article 67 of PSD2.",
    "externalDocs" : {
      "description" : "Berlin Group XS2A Implementation Version 1.3 - Chapter 6: Account Information Service",
      "url" : "https://docs.wixstatic.com/ugd/c2914b_bec5f9d0d3c94cfca2ad1b9da36dc752.pdf"
    }
  }, {
    "name" : "Confirmation of Funds Service",
    "description" : "This service may be used by a PIISP to request a confirmation of the availability of specific funds on the account of a PSU. The account is managed by the ASPSP providing the XS2A Interface. Functionality and restrictions of this service comply with the requirements defined by article 65 of PSD2.",
    "externalDocs" : {
      "description" : "Berlin Group XS2A Implementation Version 1.3 - Chapter 9: Confirmation of Funds Service",
      "url" : "https://docs.wixstatic.com/ugd/c2914b_bec5f9d0d3c94cfca2ad1b9da36dc752.pdf"
    }
  }, {
    "name" : "Initial Access Token Service"
  } ],
  "paths" : {
    "/{tenant}/onboarding/v1" : {
      "get" : {
        "tags" : [ "Initial Access Token Service" ],
        "summary" : "Get initial access token",
        "description" : "Validates the TPP's X.509 EIDAS certificate and returns an initial access token to continue onboarding procedure.",
        "operationId" : "initialAccessToken",
        "parameters" : [ {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Initial access token returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aInitialAccessTokenResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "TLS certificate is missing or invalid/ Provided certificate contains an invalid organizationIdentifier",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/accounts/{account-id}" : {
      "get" : {
        "tags" : [ "Account Information Service" ],
        "summary" : "Get account",
        "description" : "Reads details about an account, with balances where required. It is assumed that a consent of the PSU to this access is already given and stored on the ASPSP system. The addressed details of this account depends then on the stored consent addressed by consentId, respectively the OAuth2 access token.",
        "operationId" : "getAccount",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "IP Address of the PSU if involved in the request.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "ID of registered and authorized consent.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "account-id",
          "in" : "path",
          "description" : "ID of account.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "withBalance",
          "in" : "query",
          "description" : "Not supported, should be unset",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Account returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAccountResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "ConsentID invalid/ AccountID invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid scope/ Invalid consent/ Given access token is not coupled to the given consent/ User has no access to the given account/ Consented product is blocked",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "ConsentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "404" : {
            "description" : "AccountID not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/accounts" : {
      "get" : {
        "tags" : [ "Account Information Service" ],
        "summary" : "Get accounts",
        "description" : "Reads a list of bank accounts, with balances where required. It is assumed that a consent of the PSU to this access is already given and stored on the ASPSP system. The addressed list of accounts depends then on the PSU ID and the stored consent addressed by consentId, respectively the OAuth2 access token.",
        "operationId" : "getAccounts",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "IP Address of the PSU if involved in the request.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "ID of registered and authorized consent.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "withBalance",
          "in" : "query",
          "description" : "Not supported, should be unset",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Accounts returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAccountsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "ConsentID invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid scope/ Invalid consent/ Given access token is not coupled to the given consent/ User does not have access to the consented accounts/ Consented products are blocked",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "ConsentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/accounts/{account-id}/balances" : {
      "get" : {
        "tags" : [ "Account Information Service" ],
        "summary" : "Get account balances",
        "description" : "Reads account data from a given account addressed by \"account-id\".",
        "operationId" : "getBalances",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "IP Address of the PSU if involved in the request.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "ID of registered and authorized consent.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "account-id",
          "in" : "path",
          "description" : "ID of account.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Balances returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aBalancesResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "ConsentUUID invalid/ AccountID invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid scope/ Invalid consent/ Given access token is not coupled to the given consent/ User has no access to the given account/ Consented product is blocked/ Given consent does not provide access to balance of account",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "ConsentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "404" : {
            "description" : "AccountID not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests - number of requests exceeds FrequencyPerDay of consent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/accounts/{account-id}/transactions" : {
      "get" : {
        "tags" : [ "Account Information Service" ],
        "summary" : "Get account transactions",
        "description" : "Reads account data from a given account addressed by \"account-id\".",
        "operationId" : "getTransactions",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "IP Address of the PSU if involved in the request.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "ID of registered and authorized consent.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "account-id",
          "in" : "path",
          "description" : "ID of account.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "bookingStatus",
          "in" : "query",
          "description" : "Permitted codes are \"booked\", \"pending\" and \"both\", mandated if no delta access is required.",
          "schema" : {
            "type" : "string",
            "enum" : [ "booked", "pending", "both", "information", "all" ]
          }
        }, {
          "name" : "dateFrom",
          "in" : "query",
          "description" : "Starting date (inclusive the date dateFrom) of the transaction list, mandated if no delta access is required.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "dateTo",
          "in" : "query",
          "description" : "End date (inclusive the date dateTo) of the transaction list, default is now if not given.",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "withBalance",
          "in" : "query",
          "description" : "Not supported, should be unset",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "entryReferenceFrom",
          "in" : "query",
          "description" : "Not supported, should be unset",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deltaList",
          "in" : "query",
          "description" : "Not supported, should be unset",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "edgeToken",
          "in" : "query",
          "description" : "Pagination edge token, to be used when paging through transactions",
          "schema" : {
            "$ref" : "#/components/schemas/Xs2aTransactionSearchCriteriaEdgeToken"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Transactions returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aTransactionsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "ConsentID invalid/ AccountID invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid scope/ Invalid consent/ Given access token is not coupled to the given consent/ User has no access to the given account/ Consented product is blocked/ Given consent does not provide access to transactions of account",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "ConsentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "404" : {
            "description" : "AccountID not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests - number of requests exceeds FrequencyPerDay of consent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/accounts/{account-id}/transactions/page" : {
      "get" : {
        "tags" : [ "Account Information Service" ],
        "summary" : "Paginate account transactions (deprecated, pass edge token to transactions endpoint instead)",
        "description" : "Reads account data from a given account addressed by \"account-id\".",
        "operationId" : "getTransactionsPage",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "IP Address of the PSU if involved in the request.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "ID of registered and authorized consent.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "account-id",
          "in" : "path",
          "description" : "ID of account.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "edgeToken",
          "in" : "query",
          "description" : "Pagination edge token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Transactions returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aTransactionsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "ConsentID invalid/ AccountID invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid scope/ Invalid consent/ Given access token is not coupled to the given consent/ User has no access to the given account/ Consented product is blocked/ Given consent does not provide access to transactions of account",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "ConsentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "404" : {
            "description" : "AccountID not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests - number of requests exceeds FrequencyPerDay of consent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/{tenant}/v1/bulk-payments/sepa-credit-transfers/{resource-id}/authorisations" : {
      "get" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Get authorisations",
        "description" : "Will deliver an array of resource ids of all generated authorisation sub-resources.",
        "operationId" : "getAuthorisations",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Authorisations returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationsRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "PaymentID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "PaymentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Create authorisation",
        "description" : "Creates a payment authorisation sub-resource.",
        "operationId" : "createAuthorisation",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment to create authorisation sub-resource for.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "TPP-Redirect-URI",
          "in" : "header",
          "description" : "URI of the TPP, where the transaction flow shall be redirected to after a Redirect.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Payment authorisation created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "PaymentID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/bulk-payments/sepa-credit-transfers/{resource-id}/authorisations/{authorisation-id}" : {
      "get" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Get authorisation status",
        "description" : "Checks the SCA status of an authorisation sub-resource.",
        "operationId" : "getAuthorisation",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "authorisation-id",
          "in" : "path",
          "description" : "ID of the authorisation sub-resource.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Authorisation status returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationStatusRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "AuthorisationID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "PaymentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Submit payment authorisation",
        "description" : "Submits an access token to authorise a payment initiation.",
        "operationId" : "submitAuthorisation",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "authorisation-id",
          "in" : "path",
          "description" : "ID of the authorisation sub-resource",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "OAuth2 access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Payment SCA status returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "AuthorisationID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "PaymentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/bulk-payments/sepa-credit-transfers/{resource-id}/cancellation-authorisations" : {
      "get" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Get cancellation authorisations",
        "description" : "Will deliver an array of resource ids of all generated cancellation authorisation sub-resources.",
        "operationId" : "getCancellationAuthorisations",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment to get cancellation authorisations for.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Cancellation authorisations returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationsRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "PaymentID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "PaymentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Create cancellation authorisation",
        "description" : "Creates a payment cancellation authorisation sub-resource.",
        "operationId" : "createCancellationAuthorisation",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment to create cancellation authorisation sub-resource for.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "TPP-Redirect-URI",
          "in" : "header",
          "description" : "URI of the TPP, where the transaction flow shall be redirected to after a Redirect.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Payment cancellation authorisation created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "PaymentID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/bulk-payments/sepa-credit-transfers/{resource-id}/cancellation-authorisations/{authorisation-id}" : {
      "get" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Get cancellation authorisation status",
        "description" : "Checks the SCA status of a cancellation authorisation sub-resource.",
        "operationId" : "getCancellationAuthorisation",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "authorisation-id",
          "in" : "path",
          "description" : "ID of the cancellation authorisation sub-resource.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Cancellation authorisation status returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationStatusRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "AuthorisationID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "PaymentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Update payment cancellation authorisation with access token",
        "description" : "Updates the payment cancellation data on the server by PSU data, if requested by the ASPSP. Also cancels the payment if sufficient privileges are present.",
        "operationId" : "submitCancellationAuthorisation",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment to cancel",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "authorisation-id",
          "in" : "path",
          "description" : "ID of the cancellation authorisation sub-resource",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Payment submitted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "PaymentID is invalid/ Payment status is invalid/ Payment failed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid scope/ Invalid consent/ Given access token is not coupled to the given consent/ User has insufficient rights to authorize the payment/ Authorization timed out",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "PaymentID not found, or not registered for this TPP/ Given currency is not supported for given payment product/ Given IBAN belongs to product with unsupported producttype/ Given IBAN belongs to product that is blocked or inactive",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/bulk-payments/sepa-credit-transfers/{resource-id}" : {
      "delete" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Cancel payment",
        "description" : "If the payment is not authorized yet, the payment request is directly cancelled. Otherwise a cancellation authorization sub-resource is created.",
        "operationId" : "deletePayment",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "TPP-Redirect-URI",
          "in" : "header",
          "description" : "URI of the TPP, where the transaction flow shall be redirected to after a Redirect.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Payment cancelled",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aPaymentRequestResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Cancellation authorization sub-resource created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aPaymentRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "PaymentID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "PaymentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/bulk-payments/sepa-credit-transfers/{resource-id}/status" : {
      "get" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Get payment status",
        "description" : "Can check the status of a payment initiation.",
        "operationId" : "getStatus",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Payment status returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aStatusRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "PaymentID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "PaymentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/bulk-payments/sepa-credit-transfers" : {
      "post" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Initiate Sepa Bulk Payment",
        "description" : "Creates a Sepa bulk payment initiation request and corresponding authorisation sub-resource.",
        "operationId" : "initiateSepaBulkPayment",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "TPP-Redirect-URI",
          "in" : "header",
          "description" : "URI of the TPP, where the transaction flow shall be redirected to after a Redirect.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "Must be empty, sessions are not supported.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "TPP-Signature-Certificate",
          "in" : "header",
          "description" : "The certificate used for signing the request, in base64 encoding.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "PAIN.001.001.03 or PAIN.001.001.09 formatted bulk payment request.",
          "content" : {
            "text/xml" : {
              "schema" : {
                "type" : "string"
              }
            },
            "application/xml" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Payment initiated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aPaymentRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Missing or invalid body (e.g. invalid IBAN)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "The addressed payment product is not available for the PSU",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "404" : {
            "description" : "No product found for given IBAN",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/funds-confirmations" : {
      "post" : {
        "tags" : [ "Confirmation of Funds Service" ],
        "summary" : "Confirmation of funds",
        "description" : "Creates a confirmation of funds request at the ASPSP.",
        "operationId" : "confirmFundsAvailable",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "ID of registered and authorized consent.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "description" : "Confirmation of funds request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Xs2aConfirmationOfFundsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Confirmation of funds returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aConfirmationOfFundsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Missing or invalid body (e.g. invalid IBAN)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "User has no access to the given account/ given IBAN belongs to a savings account/ given currency does not correspond to currency of account",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "404" : {
            "description" : "IBAN not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/consents/{resource-id}/authorisations" : {
      "get" : {
        "tags" : [ "Account Information Service" ],
        "summary" : "Get authorisations",
        "description" : "Will deliver an array of resource ids of all generated authorisation sub-resources.",
        "operationId" : "getAisAuthorisations",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the consent.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Authorisations returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationsRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "ConsentID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "ConsentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Account Information Service" ],
        "summary" : "Create authorisation",
        "description" : "Creates a consent authorisation sub-resource.",
        "operationId" : "createAisAuthorisation",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the consent to create authorisation sub-resource for.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "TPP-Redirect-URI",
          "in" : "header",
          "description" : "URI of the TPP, where the transaction flow shall be redirected to after a Redirect.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Consent authorisation created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "ConsentID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/consents/{resource-id}/authorisations/{authorisation-id}" : {
      "get" : {
        "tags" : [ "Account Information Service" ],
        "summary" : "Get authorisation status",
        "description" : "Checks the SCA status of an authorisation sub-resource.",
        "operationId" : "getAisAuthorisationStatus",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the consent.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "authorisation-id",
          "in" : "path",
          "description" : "ID of the authorisation sub-resource.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Authorisation status returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationStatusRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "AuthorisationID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "ConsentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Account Information Service" ],
        "summary" : "Update consent authorisation with access token",
        "description" : "Updates the account information consent authorisation with an access token. If the access token has sufficient privileges, the consent will be authorized",
        "operationId" : "submitAisAuthorisation",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the consent.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "authorisation-id",
          "in" : "path",
          "description" : "ID of the authorisation sub-resource",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Consent authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "ConsentID is invalid/ consent status is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid scope/ Invalid consent/ Given access token is not coupled to the given consent/ User does not have access to all products requested for consent/ Authorization timed out",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "ConsentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/consents/{resource-id}" : {
      "get" : {
        "tags" : [ "Account Information Service" ],
        "summary" : "Get consent",
        "description" : "Returns the content of an account information consent object. This is returning the data for the TPP especially in cases, where the consent was directly managed between ASPSP and PSU e.g. in a re-direct SCA Approach.",
        "operationId" : "getAisConsent",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the consent.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Consent returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aConsentRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "ConsentID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "ConsentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Account Information Service" ],
        "summary" : "Delete consent",
        "description" : "Deletes a given consent.",
        "operationId" : "deleteAisConsent",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the consent.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Consent deleted"
          },
          "400" : {
            "description" : "ConsentID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid scope/ Invalid consent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "ConsentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/consents/{resource-id}/status" : {
      "get" : {
        "tags" : [ "Account Information Service" ],
        "summary" : "Get consent status",
        "description" : "Check the status of an account information consent resource.",
        "operationId" : "getAisConsentStatus",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the consent.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Consent status returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aConsentStatusResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "ConsentID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "ConsentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/consents" : {
      "post" : {
        "tags" : [ "Account Information Service" ],
        "summary" : "Register consent",
        "description" : "Creates an account information consent resource at the ASPSP regarding access to accounts specified in this request.",
        "operationId" : "registerConsentRequest",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "TPP-Redirect-URI",
          "in" : "header",
          "description" : "URI of the TPP, where the transaction flow shall be redirected to after a Redirect.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "TPP-Signature-Certificate",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Consent request.",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/Xs2aConsentRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Consent registered",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aConsentRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Missing or invalid body (e.g. FrequencyPerDay > 4)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/payments/cross-border-credit-transfers/{resource-id}/authorisations" : {
      "get" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Get authorisations",
        "description" : "Will deliver an array of resource ids of all generated authorisation sub-resources.",
        "operationId" : "getAuthorisations_1",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Authorisations returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationsRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "PaymentID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "PaymentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Create authorisation",
        "description" : "Creates a payment authorisation sub-resource.",
        "operationId" : "createAuthorisation_1",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment to create authorisation sub-resource for.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "TPP-Redirect-URI",
          "in" : "header",
          "description" : "URI of the TPP, where the transaction flow shall be redirected to after a Redirect.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Payment authorisation created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "PaymentID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/payments/cross-border-credit-transfers/{resource-id}/authorisations/{authorisation-id}" : {
      "get" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Get authorisation status",
        "description" : "Checks the SCA status of an authorisation sub-resource.",
        "operationId" : "getAuthorisation_1",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "authorisation-id",
          "in" : "path",
          "description" : "ID of the authorisation sub-resource.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Authorisation status returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationStatusRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "AuthorisationID is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          },
          "403" : {
            "description" : "PaymentID not found, or not registered for this TPP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TppMessages"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Payment Initiation Service" ],
        "summary" : "Submit payment authorisation",
        "description" : "Submits an access token to authorise a payment initiation.",
        "operationId" : "submitAuthorisation_1",
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Branch of the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "uk", "nl", "be_fr", "be_nl" ]
          }
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Digest contains a Hash of the message body, used for authentication of the request. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-id",
          "in" : "path",
          "description" : "ID of the payment",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "authorisation-id",
          "in" : "path",
          "description" : "ID of the authorisation sub-resource",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "OAuth2 access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Payment SCA status returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Xs2aAuthorisationRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "AuthorisationID is invalid",
[...]
